<!--圖表一：用藥明細-->
<div id="graph-medicine">
  <span class="label label-success"><i class="icon-beaker icon-white"></i> 處方用藥 </span><p>
  <div id="graph1">
    <img src="http://placehold.it/800x240">
  </div>
</div><!--圖表一：用藥明細結束-->
<hr>
<!--圖表二：副作用-->
<div id="graph-sideeffect">
  <span class="label label-warning"><i class="icon-retweet icon-white"></i> 副作用 </span><p>
  <div id="graph2">
    <img src="http://placehold.it/800x240">
  </div>
</div><!--圖表二：副作用結束-->
<hr>
<!--圖表三：檢查記錄-->
<div id="graph-check">
  <span class="label label-important"><i class="icon-check icon-white"></i> 檢查記錄 </span><p>
  <div id="graph3">
    <img src="http://placehold.it/800x240">
  </div>
</div> <!--圖表三：檢查記錄結束-->
<hr>
<!--圖表四：圖像記錄-->
<div id="photo-record">
  <span class="label label-info"><i class="icon-camera icon-white"></i> 圖像記錄 </span><p>
  <div class="row-fluid" id="photo_slider">
    <div id="landing_carousel" class="carousel">
      <div class="carousel-inner">
        <!--一排四張圖，若超過四張，則再出現下一個item-->
        <div class="item active">
          <a href="#"><img alt="YYYY-MM-DD; comment" src="http://placehold.it/198x150"></a>
        
          <a href="#"><img alt="YYYY-MM-DD; comment" src="http://placehold.it/198x150"></a>
        
          <a href="#"><img alt="YYYY-MM-DD; comment" src="http://placehold.it/198x150"></a>
        
          <a href="#"><img alt="YYYY-MM-DD; comment" src="http://placehold.it/198x150"></a>
        </div> <!--第一排結束-->
        <div class="item">
          <a href="#"><img alt="YYYY-MM-DD; comment" src="http://placehold.it/198x150"></a>
        
          <a href="#"><img alt="YYYY-MM-DD; comment" src="http://placehold.it/198x150"></a>
        
          <a href="#"><img alt="YYYY-MM-DD; comment" src="http://placehold.it/198x150"></a>
        
          <a href="#"><img alt="YYYY-MM-DD; comment" src="http://placehold.it/198x150"></a>
        </div> <!--第二排結束-->
        <div class="item">
          <a href="#"><img alt="YYYY-MM-DD; comment" src="http://placehold.it/198x150"></a>
        
          <a href="#"><img alt="YYYY-MM-DD; comment" src="http://placehold.it/198x150"></a>
        
          <a href="#"><img alt="YYYY-MM-DD; comment" src="http://placehold.it/198x150"></a>
        
          <a href="#"><img alt="YYYY-MM-DD; comment" src="http://placehold.it/198x150"></a>
        </div> <!--第三排結束-->
      </div>
      <a class="carousel-controls left" href="#landing_carousel" data-slide="prev">‹</a>
      <a class="carousel-controls right" href="#landing_carousel" data-slide="next">›</a>
    </div><!--圖表四：圖像記錄結束-->
  </div>
</div>