
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <script type="text/javascript" src="static/js/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/jquery.autoSuggest.js"></script>
  <link type="text/css" rel="stylesheet" href="static/css/autoSuggest.css">
  <script type="text/javascript">
	  $(document).ready(function(){
		$("input[type=text]").autoSuggest("http://localhost:8080/testtagsearch/",
			{
			 queryParam: 'term',
			 selectedItemProp: "name",
			 selectedValuesProp: "value",
			 searchObjProps: "name",
			 }
		 );	  	
	  });
  </script>


</head>

<body>
	<input type="text" id="as-input-060" autocomplete="off" class="as-input">
</body>
</html>
