<!DOCTYPE html>
<html lang="utf-8">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">@media print {  .gmnoprint {    display:none  }}@media screen {  .gmnoscreen {    display:none  }}</style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> {% block title %} xxx - 我的紀錄 {% endblock %}</title>
    {% block scripts %}
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap-modal.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.flot.js"></script>
    <script src="static/js/jquery.flot.resize.js"></script>
    <script src="static/js/jquery.flot.pie.js"></script>
    <script src="static/js/customcharts.js"></script>
    <script src="static/js/jquery-ui.min.js"></script>
    <script src="static/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

<!-- 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
 -->
    <script>
        //datepicker for calendar
         $(function() {
           $( "#date_report" ).datepicker();
         });

        $(function() {
          $( "#search_disease" ).autocomplete({
              source: "/search_disease/?"
          }); //autocomplete
        });

        $(function() {
          $( "#search_medicine" ).autocomplete({
              source: "/search_medicine/?"
          }); //autocomplete
        });

        $(function() {
          function split( val ) {
            return val.split( /,\s*/ );
          }
          function extractLast( term ) {
            return split( term ).pop();
          }

          $( "#search_side_effect, #search_medicine" )
            // don't navigate away from the field on tab when selecting an item
            .bind( "keydown", function( event ) {
              if ( event.keyCode === $.ui.keyCode.TAB &&
                  $( this ).data( "autocomplete" ).menu.active ) {
                event.preventDefault();
              }
            })
            .autocomplete({
              source: function( request, response ) {
                $.getJSON( "/search_side_effect/?", {
                  term: extractLast( request.term )
                }, response );
              },
              search: function() {
                // custom minLength
                var term = extractLast( this.value );
                if ( term.length < 1 ) {
                  return false;
                }
              },
              focus: function() {
                // prevent value inserted on focus
                return false;
              },
              select: function( event, ui ) {
                var terms = split( this.value );
                // remove the current input
                terms.pop();
                // add the selected item
                terms.push( ui.item.value );
                // add placeholder to get the comma-and-space at the end
                terms.push( "" );
                this.value = terms.join( ", " );
                return false;
              }
            }); //end autocomplete


          $( "#search_medicine" )
            // don't navigate away from the field on tab when selecting an item
            .bind( "keydown", function( event ) {
              if ( event.keyCode === $.ui.keyCode.TAB &&
                  $( this ).data( "autocomplete" ).menu.active ) {
                event.preventDefault();
              }
            })
            .autocomplete({
              source: function( request, response ) {
                $.getJSON( "/search_medicine/?", {
                  term: extractLast( request.term )
                }, response );
              },
              search: function() {
                // custom minLength
                var term = extractLast( this.value );
                if ( term.length < 1 ) {
                  return false;
                }
              },
              focus: function() {
                // prevent value inserted on focus
                return false;
              },
              select: function( event, ui ) {
                var terms = split( this.value );
                // remove the current input
                terms.pop();
                // add the selected item
                terms.push( ui.item.value );
                // add placeholder to get the comma-and-space at the end
                terms.push( "" );
                this.value = terms.join( ", " );
                return false;
              }
            }); //end autocomplete




        });
    </script>
    <script type="text/javascript">
            $(document).ready(function(){
                $('.togglemenuleft').click(function(){
                    $('#menu-left').toggleClass('span1');
                    $('#menu-left').toggleClass('icons-only');
                    $('#menu-left').toggleClass('span3');
                    
                    $('#content').toggleClass('span6');
                    $('#content').toggleClass('span8');
                    
                    $(this).find('i').toggleClass('icon-circle-arrow-right');
                    $(this).find('i').toggleClass('icon-circle-arrow-left');
                    $('#menu-left').find('span').toggle();
                    $('#menu-left').find('.dropdown').toggle();
                });

                $('#menu-left a').click(function(){
                    $('#menu-left').find('a').removeClass('active');
                    $(this).addClass('active');
                });
        // tool tip
                $('a').tooltip('hide');

        //datePciker
                $("#datepicker").datepicker();
// switch style 
                $('a.style').click(function(){
                    var style = $(this).attr('href');
                    $('.links-css').attr('href','css/' + style);
                    return false;
                });
               


                $(".switcher").click(function(){
                    if($(this).find('i').hasClass('icon-circle-arrow-right'))
                    $('.theme').animate({left:'0px'},500);
                    else
                    $('.theme').animate({left:'-89'},500);

                    $(this).find('i').toggleClass('icon-circle-arrow-right');
                    $(this).find('i').toggleClass('icon-circle-arrow-left');
                });

            });
    </script>
    {% endblock %}

    <!-- jquery-ui -->
    {% block styles %}
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css">

    <!-- bootstrap css -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/datepicker.css" rel="stylesheet">

    <!-- base css -->
    <link class="links-css" href="static/css/base.css" rel="stylesheet">

    <!-- home page css -->
    <link href="static/css/home-page.css" rel="stylesheet">
    
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>

    <style>
    .ui-autocomplete-loading { background: white url('http://jqueryui.com/demos/autocomplete/images/ui-anim_basic_16x16.gif') right center no-repeat; }
    </style>

    <!-- responsive css -->
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- media query css -->
    <link href="static/css/media-fluid.css" rel="stylesheet">

     <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
     <!--[if lt IE 9]>
     <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->

     <!-- Le fav and touch icons -->
     <link rel="shortcut icon" href="static/ico/favicon.ico">
     {% endblock %}
  </head>

  <body>

    <div id="header">
      {% block header %} {% include "loginheader.html" %} {% endblock %}
    </div> <!-- navbar -->
   <!-- only for desktop
  =============================== -->
    <div id="maincontainer" class="left-sb-fluid">
      <div id="contentwrapper">
        <div id= "leftpanel">
          {% block sidebar %}{% include "sidebar.html" %} {% endblock %}
        </div>
        <div id="content">{% block content %} {% endblock %}
        </div>
      </div>
    </div>

    <!--用藥記錄填寫表單-->
    {% block modal1 %}
    <div class="modal hide" id="medicine">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2><font color= "#600000"><i class="icon-edit"></i> 用藥記錄：</font></h2>
      </div>
      <div class="modal-body">
        <form action="/add_report" name="add_report" id="report" method="POST" accept-charset="UTF-8">
          <i class="icon-folder-open"></i> 請選擇你要記錄的病症: 
          <textarea class="input-xlarge" id="search_disease" row="3"></textarea><br>
          <div class="input-append date" id="date_report" data-date="{{ today }}" data-date-format="yyyy-mm-dd">
          <i class="icon-chevron-right"></i> 用藥日期:  <input class="span2" name="report_date" size="16" type="text" value="{{ today }}" >
          <span class="add-on"><i class="icon-calendar"></i></span>
          </div>
          <div class="input-append time" id="time_report" data-date="{{ now }}" data-date-format="hh">
          <i class="icon-chevron-right"></i> 用藥時間:  <input class="span2" name="report_time" size="16" type="text" value="{{ now }}" >
          <span class="add-on"><i class="icon-time"></i></span>
          </div>
          <i class="icon-chevron-right"></i> 用藥明細:
          <table class="table">
            <thead>
              <tr>
                <th><i class="icon-tag"></i> 藥名</th>
                <th><i class="icon-tint"></i> 劑量</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> 
                  <input id="search_medicine" type="text" name="term" /> 
                </td>
                <td>
                  <input id="#" type="number" name="term" />
                </td>
                <td>
                </td>
              </tr>
              <tr>
                <td> 
                  <input id="search_medicine" type="text" name="term" /> 
                </td>
                <td>
                  <input id="#" type="number" name="term" />
                </td>
                <td>
                </td>
              </tr>
              <tr>
                <td> 
                  <input id="search_medicine"  type="text" name="term" /> 
                </td>
                <td>
                  <input id="#" type="number" name="term" />
                </td>
                <td><button class="btn btn-mini"><i class="icon-white icon-plus-sign"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
          <i class="icon-chevron-right"></i> 副作用: <textarea class="input-xlarge" id="search_side_effect" row="3"></textarea><br>
          <i class="icon-chevron-right"></i> 生理感受：
          <table class="table">
            <thead>
              <tr>
                <th> <i class=" icon-thumbs-down"></i> <i class=" icon-thumbs-down"></i> 很糟</th>
                <th> <i class=" icon-thumbs-down"></i> 糟</th>
                <th> 普通</th>
                <th> <i class=" icon-thumbs-up"></i> 好</th>
                <th> <i class=" icon-thumbs-up"></i> <i class=" icon-thumbs-up"></i> 很好</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <label class="radio" align="middle">
                    <input type="radio" name="optionRadio" id="verybad" value="verybad" >
                  </label>
                </td> 
                <td>
                  <label class="radio">
                    <input type="radio" name="optionRadio" id="bad" value="bad">
                  </label>
                </td>
                <td>
                  <label class="radio">
                    <input type="radio" name="optionRadio" id="soso" value="soso" checked>
                  </label>
                </td>
                <td>
                  <label class="radio">
                    <input type="radio" name="optionRadio" id="good" value="good">
                  </label>
                </td> 
                <td>
                  <label class="radio">
                    <input type="radio" name="optionRadio" id="verygood" value="verygood">
                  </label>
                </td>
              </tr>
            </tody>
          </table>                                     
        </form> <!-- add_report end -->
      </div> <!-- modal-body end -->
      <div class="modal-footer">
        <input id="search_input" class="btn btn-primary" type="submit" value="按我新增記錄" />
        <a href="#" class="btn" data-dismiss="modal">Close</a>
      </div>
    </div> <!-- modal hide end -->
    {% endblock %}

    <!--檢查記錄填寫表單-->
    {% block modal2 %}
    <div class="modal hide" id="check">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2><font color= "#600000"><i class="icon-edit"></i> 檢查記錄：</font></h2>
      </div>
      <div class="modal-body">
        <form action="/add_report" name="add_report" id="report" method="POST" accept-charset="UTF-8">
          <i class="icon-folder-open"></i> 請選擇你要記錄的病症: 
          <textarea class="input-xlarge" id="search_disease" row="3"></textarea><br>
          <div class="input-append date" id="date_report" data-date="{{ today }}" data-date-format="yyyy-mm-dd">
          <i class="icon-chevron-right"></i> 檢查日期:  <input class="span2" name="report_date" size="16" type="text" value="{{ today }}" >
          <span class="add-on"><i class="icon-calendar"></i></span>
          </div>
          <i class="icon-chevron-right"></i> 檢查報告:
          <table class="table">
            <thead>
              <tr>
                <th><i class="icon-tag"></i> 內容</th>
                <th><i class="icon-tint"></i> 數值</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> 
                  <input id="search_medicine" type="text" name="term" /> 
                </td>
                <td>
                  <input id="#" type="number" name="term" />
                </td>
                <td>
                </td>
              </tr>
              <tr>
                <td> 
                  <input id="search_medicine" type="text" name="term" /> 
                </td>
                <td>
                  <input id="#" type="number" name="term" />
                </td>
                <td>
                </td>
              </tr>
              <tr>
                <td> 
                  <input id="search_medicine"  type="text" name="term" /> 
                </td>
                <td>
                  <input id="#" type="number" name="term" />
                </td>
                <td><button class="btn btn-mini"><i class="icon-white icon-plus-sign"></i></button>
                </td>
              </tr>
            </tbody>
          </table>    
        </form> <!-- add_report end -->
      </div> <!-- modal-body end -->
      <div class="modal-footer">
        <input id="search_input" class="btn btn-primary" type="submit" value="按我新增記錄" />
        <a href="#" class="btn" data-dismiss="modal">Close</a>
      </div>
    </div> <!-- modal hide end -->
    {% endblock %}

    <!--新增病症表-->
    {% block modal3 %}
    <div class="modal hide" id="addcondition">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2><font color= "#600000"><i class="icon-edit"></i> 新增你的病症：</font></h2>
      </div>
      <div class="modal-body">
        <form action="/add_report" name="add_report" id="report" method="POST" accept-charset="UTF-8">
          <i class="icon-folder-open"></i> 新增病症: 
          <textarea class="input-xlarge" id="search_disease" row="3"></textarea><br>
          <div class="input-append date" id="date_report" data-date="{{ today }}" data-date-format="yyyy-mm-dd">
          </div>  
        </form> <!-- add_report end -->
      </div> <!-- modal-body end -->
      <div class="modal-footer">
        <i class="icon-chevron-right"></i> 下一步...<br>
        <a class="btn btn-success" href="#medicine"><i class="icon-bar-chart icon-white"></i> 用藥記錄 </a>
        <a class="btn btn-primary" href="#check"><i class="icon-check icon-white"></i> 檢查記錄 </a>
        <a href="#" class="btn" data-dismiss="modal">Close</a>
      </div>
    </div> <!-- modal hide end -->
    {% endblock %}

    <div class="clearfix"></div>
    <div id="footer">
      {% include 'footer.html' %} 
    </div>

    <div id="tc_container" style="display: none" data="ih"></div>
  </body>
</html>
