<!DOCTYPE html>
{% extends "loginbase.html" %}

{% block content %}
<div id="content" class="span9 section-body">
  <div id="section-body" class="tabbable">
    <ul class="nav nav-tabs">
      {% if my_disease_name_nav_menu %}
        {% for disease_name in my_disease_name_nav_menu %}
          {% if forloop.first %}        
            <li class="active">
              <a href="#{{ disease_name }}" data-toggle="tab" data-original-title=""> {{ disease_name }} 的記錄 <i class="icon-bar-chart"></i> 
              </a>
            </li>
          {% else %}
            <li class="">
              <a href="#{{ disease_name }}" data-toggle="tab" data-original-title=""> {{ disease_name }} 的記錄 <i class="icon-bar-chart"></i> 
              </a>
            </li>
          {% endif %}
        {% endfor %}
      {% endif %}
    </ul>

<!--

$('div.tab-pane').attr('class','tab-pane');
$('div.tab-pane:first').attr('class', 'tab-pane active');
-->
    <div class="tab-content">
      {% if my_disease_name_nav_menu %}
        {% for disease_name in my_disease_name_nav_menu %}
            <div class="tab-pane active" id="{{ disease_name }}">
              <div class="row-fluid">
                <!--圖表一：用藥明細-->
                  <script type="text/javascript">
                    google.load('visualization', '1', {packages: ['annotatedtimeline']});
                    google.setOnLoadCallback(drawChartMedicine);

                    function drawChartMedicine() {
                        var url_medicine = "http://localhost:8080/{{ username }}/{{ disease_name }}/chart/medicinetakenjson/{{ forloop.counter0 }}";
                        var query_medicine = new google.visualization.Query(url_medicine);
                        query_medicine.send(callback_draw_timeline_medicine);

                        function callback_draw_timeline_medicine(response) {
                            if (response.isError()) {
                                alert("Error in query_medicine: " + response.getMessage());
                                return;
                            };
                            var data_medicine = response.getDataTable();
                            var chart_medicine = new google.visualization.AnnotatedTimeLine(document.getElementById('timeline1{{ forloop.counter0 }}'));
                                chart_medicine.draw(data_medicine, {displayAnnotations: true,
                                  thickness: 3, fill:5,
                                  dateFormat: 'yyyy-M-dd',
                                  annotationsWidth: 10});
                        };
                    };

                   </script> 
                <div id="graph-medicine">
                  <span class="label label-success"><i class="icon-beaker icon-white"></i> 處方用藥 </span>
                </div>
                {{ disease_name }}
                <div id="timeline1{{ forloop.counter0 }}" style='height:240px; width:800px;'></div> 


                <!--圖表二：副作用-->
                <div id="graph-sideeffect">
                  <span class="label label-warning"><i class="icon-retweet icon-white"></i> 副作用 </span>
                </div>
                <!--圖表三：檢查記錄-->
                <div id="graph-check">
                 <span class="label label-important"><i class="icon-check icon-white"></i> 檢查記錄 </span>
               </div>
                <!--圖表四：圖像記錄-->
                <div id="photo-record">
                  <span class="label label-info"><i class="icon-camera icon-white"></i> 圖像記錄 </span>
                </div>
              </div> <!-- row-fluid -->
            </div> <!-- tab pane -->
        {% endfor %}
      {% endif %}  
    </div> <!-- tab-content -->
  </div> <!-- section-body -->
</div>
<div class="span3" id="widget">
      <div id="accordion4" class="accordion">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#event" data-toggle="collapse" class="accordion-toggle" data-original-title="">
              <i class="icon-bookmark icon-white"></i> 
              <span class="divider-vertical"></span> 
              Earning <i class="icon-chevron-down icon-white pull-right"></i>
            </a>
        </div>
        <div class="accordion-body collapse in" id="event">
          <div class="accordion-inner">
          <div id="earning" class="graph" style="height: 250px; width: 100%; padding: 0px; position: relative; ">
            <span class="pieLabel" id="pieLabel0" style="position: absolute; top: 27px; left: 151px; ">
              <div style="font-size:8pt;text-align:center;padding:2px;color:white;">Project 1<br>12%</div>
            </span>
            <span class="pieLabel" id="pieLabel2" style="position: absolute; top: 126px; left: 202px; ">
              <div style="font-size:8pt;text-align:center;padding:2px;color:white;">Project 3<br>21%</div>
            </span>
            <span class="pieLabel" id="pieLabel3" style="position: absolute; top: 187px; left: 133px; ">
              <div style="font-size:8pt;text-align:center;padding:2px;color:white;">Project 4<br>16%</div>
            </span>
            <span class="pieLabel" id="pieLabel4" style="position: absolute; top: 153px; left: 53px; ">
              <div style="font-size:8pt;text-align:center;padding:2px;color:white;">Project 5<br>19%</div>
            </span>
            <span class="pieLabel" id="pieLabel5" style="position: absolute; top: 47px; left: 61px; ">
              <div style="font-size:8pt;text-align:center;padding:2px;color:white;">Project 6<br>26%</div>
            </span>
          </div>
        </div>
      </div>
</div>
<div class="accordion-group">
  <div class="accordion-heading">
    <a href="#statements" data-toggle="collapse" class="accordion-toggle" data-original-title="">
      <i class="icon-globe icon-white"></i> 
      <span class="divider-vertical"></span> 
      Notifications <i class="icon-chevron-down icon-white pull-right"></i>
    </a>
  </div>
  <div class="accordion-body collapse in" id="statements">
    <div class="accordion-inner">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>
              <i class="icon-user"></i>
            </td>
            <td>
              <a href="" data-original-title="">
                <strong>Hanafi ALMOJRIM</strong> added 
                <strong>23 users</strong> 
              </a><em>4 hours ago</em>
            </td>
          </tr>
          <tr>
            <td>
              <i class="icon-envelope">
              </i>
            </td>
            <td>
              <a href="" data-original-title="">
                <strong>Abderrahim NIBET</strong> sent you  <strong>message</strong> 
              </a><em>Yesterday</em>
            </td>
          </tr>
          <tr>
            <td>
              <i class="icon-tag">
              </i>
            </td>
            <td>
              <a href="" data-original-title=""><strong>Youssef BASSIR</strong> invite you to  <strong>dinner</strong> 
              </a><em>2 days ago</em>
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
              <a class="pull-right" href="" data-original-title="">Show all</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="accordion-group">
  <div class="accordion-heading">
    <a href="#latest" data-toggle="collapse" class="accordion-toggle" data-original-title="">
      <i class="icon-th icon-white"></i> <span class="divider-vertical"></span> Tabbed Container <i class="icon-chevron-down icon-white pull-right"></i>
    </a>
  </div>
  <div class="accordion-body collapse in" id="latest">
    <div class="accordion-inner">
      <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
          <li>
            <a href="#t1" data-toggle="tab" data-original-title="">Products</a>
          </li>
          <li class="active">
            <a href="#t2" data-toggle="tab" data-original-title="">Posts</a>
          </li>
          <li>
            <a href="#t3" data-toggle="tab" data-original-title="">Media</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" id="t1">
            <ul>
                <li><a href="" data-original-title="">Proin elit arcu, rutrum commodo</a></li>
                <li><a href="" data-original-title="">Aenean tempor ullamcorper leo</a></li>
                <li><a href="" data-original-title="">Vehicula tempus, commodo a, risus</a></li>
                <li><a href="" data-original-title="">Donec sollicitudin mi sit amet mauris</a></li>
                <li><a href="" data-original-title="">Curabitur nec arcu</a></li>
            </ul>
          </div>
          <div class="tab-pane active" id="t2">
            <ul class="nav nav-list">
              <li><a href="#" data-original-title=""><img src="./Maniadmin_files/thumb1.png" alt=""> button groups for a toolbar, navigation</a></li>
              <li><a href="#" data-original-title=""><img src="./Maniadmin_files/thumb2.png" alt=""> Use them in buttons, button groups for a toolbar, navigation</a></li>
              <li><a href="#" data-original-title=""><img src="./Maniadmin_files/thumb3.png" alt=""> button groups for a toolbar, navigation</a></li>
              <li><a href="#" data-original-title=""><img src="./Maniadmin_files/thumb4.png" alt=""> Use them in buttons, button groups for a toolbar, navigation</a></li>
            </ul>
          </div>
          <div class="tab-pane" id="t3">
            <ul class="unstyled flickr">
              <li><a href="http://farm8.staticflickr.com/7153/6839672369_687f2c49e8_b.jpg" data-original-title="Down the rabbit hole [Framed]"><img src="./Maniadmin_files/6839672369_687f2c49e8_s.jpg" alt="" class="img_nofade"></a>
              </li>
              <li><a href="http://farm6.staticflickr.com/5235/7156342506_3180179c4d_b.jpg" data-original-title="Looking Up"><img src="./Maniadmin_files/7156342506_3180179c4d_s.jpg" alt="" class="img_nofade"></a>
              </li>
              <li><a href="http://farm8.staticflickr.com/7248/6894937942_475bce7076_b.jpg" data-original-title="Your eyes are open"><img src="./Maniadmin_files/6894937942_475bce7076_s.jpg" alt="" class="img_nofade"></a>
              </li>
              <li><a href="http://farm8.staticflickr.com/7280/7023103445_62489017a0_b.jpg" data-original-title="Mel McGowan"><img src="./Maniadmin_files/7023103445_62489017a0_s.jpg" alt="" class="img_nofade"></a>
              </li>
              <li><a href="http://farm8.staticflickr.com/7243/6853027310_00cdd402ee_b.jpg" data-original-title="We will be forever calm"><img src="./Maniadmin_files/6853027310_00cdd402ee_s.jpg" alt="" class="img_nofade"></a>
              </li>
              <li><a href="http://farm8.staticflickr.com/7196/6837771770_6d771aa7cf_b.jpg" data-original-title="Videographer"><img src="./Maniadmin_files/6837771770_6d771aa7cf_s.jpg" alt="" class="img_nofade"></a>
              </li>
              <li><a href="http://farm8.staticflickr.com/7200/6829158646_d4f32ea229_b.jpg" data-original-title="Daylight Reveals Colors"><img src="./Maniadmin_files/6829158646_d4f32ea229_s.jpg" alt="" class="img_nofade"></a>
              </li>
              <li><a href="http://farm8.staticflickr.com/7200/6950787615_65517ec924_b.jpg" data-original-title="Jennifer Ziliotto x3"><img src="./Maniadmin_files/6950787615_65517ec924_s.jpg" alt="" class="img_nofade"></a>
              </li>
              <li><a href="http://farm8.staticflickr.com/7186/6937410907_234f15a111_b.jpg" data-original-title="Broadway St. Santa Monica"><img src="./Maniadmin_files/6937410907_234f15a111_s.jpg" alt="" class="img_nofade"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
<div class="accordion-group">
    <div class="accordion-heading">
        <a href="#elements" data-toggle="collapse" class="accordion-toggle" data-original-title="">
            <i class="icon-star-empty icon-white"></i> <span class="divider-vertical"></span> Events <i class="icon-chevron-down icon-white pull-right"></i>
        </a>
    </div>
    <div class="accordion-body collapse in" id="elements">
        <div class="accordion-inner paddind">
            <span class="label">23/12/2012</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>


            <span class="label label-warning">23/02/2012</span>
            <p>Lorem ipsum dolor sit amet dolore.</p>

            <span class="label label-important">13/02/2012</span> 
            <p>Lorem ipsum dolor sit amet dolore.</p>
            <br>   
        </div>
    </div>
</div>


    <script type="text/javascript">
      // 在 annotated timeline要畫圖時我們必須要準備好畫圖的 div DOM
      // 但由於我們用 django template system 的 forloop render, 所以會發生
      // annotated timeline 的js執行完後，但畫圖的 div DOM還沒有在頁面上產生，導致出現以下錯誤：
      // Uncaught Error: Container width is zero. Expecting a valid width. 
      // 這也是為什麼我們在 forloop中的 tab-pane都是給他active 讓 annotated timeline 可以找到
      // 畫圖的div位置後，給他畫上圖，之後在用 load() 把所有的
      // tab-pane 的active拿掉，在把第一個 tab-pane element給active ，這樣就能正確產生圖表。
      // (TODO) 需要小明大提供更好的方式來解決～
      function load(){
        $('div.tab-pane').attr('class','tab-pane');
        $('div.tab-pane:first').attr('class', 'tab-pane active');      
      }

       $(document).ready(function() {
          setTimeout("load()",2000);
       });
    </script>


{% endblock %}