<!-- 生理指數圖表內容開始！ -->
<div class="tab-content">
  <!-- 生理指數-體重與體脂圖表！ -->
  <div class="tab-pane" id="wf" align="center">
    <div class="chart_container" id="combochart" style="position: relative; ">
      <img src="http://placehold.it/350x300">
    </div>
  </div>
  <!-- 生理指數-體重與體脂圖表結束！ -->
  <!-- 生理指數-血壓與脈搏圖表！ -->
  <div class="tab-pane active" id="bp" align="center">
    <div class="chart_container" id="combochart" style="position: relative; "><img src="http://placehold.it/350x300">
    </div>
  </div>
  <!-- 生理指數-血壓與脈搏圖表結束！ -->
  <!-- 生理指數-體溫與生理期(如果有的話)圖表！ -->
  <div class="tab-pane" id="temperature" align="center">
    <div class="chart_container" id="combochart" style="position: relative; "><img src="http://placehold.it/350x300">
    </div>
  </div>
  <!-- 生理指數-體溫與生理期(如果有的話)圖表結束！ -->
</div><!-- 生理指數圖表內容結束！ -->
