<ul class="unstyled flickr">
      <li><a href="#" ><img src="http://placehold.it/56x56" alt="" class="img_nofade"></a>
      </li>
      <li><a href="#" ><img src="http://placehold.it/56x56" alt="" class="img_nofade"></a>
      </li>
      <li><a href="#" ><img src="http://placehold.it/56x56" alt="" class="img_nofade"></a>
      </li>
      <li><a href="#" ><img src="http://placehold.it/56x56" alt="" class="img_nofade"></a>
      </li>
      <li><a href="#" ><img src="http://placehold.it/56x56" alt="" class="img_nofade"></a>
      </li>
      <li><a href="#" ><img src="http://placehold.it/56x56" alt="" class="img_nofade"></a>
      </li>
      <li><a href="#" ><img src="http://placehold.it/56x56" alt="" class="img_nofade"></a>
      </li>
      <li><a href="#" ><img src="http://placehold.it/56x56" alt="" class="img_nofade"></a>
      </li>
      <li><a href="#" ><img src="http://placehold.it/56x56" alt="" class="img_nofade"></a>
      </li>
</ul>
