<div class="leftpanel-wrapper">
  <ul class="nav nav-pills nav-stacked">
    <li class="user-container">
      <a href="#">
        <img src="{{ user_protray }}">
      </a>
    </li>
    <li class="active">
      <a href="#">
        <i class="icon-large icon-home"></i>
        總覽
      </a>
    </li>
    <li>
      <a data-toggle="modal" href="#normal">
        <i class="icon-large icon-file"></i>
        生理記錄
      </a>
    </li>
    <li>
      <a data-toggle="modal" href="#medicine">
        <i class="icon-large icon-bar-chart"></i>
        用藥記錄
      </a>
    </li>
    <li>
      <a data-toggle="modal" href="#check">
        <i class="icon-large icon-check"></i>
        檢查記錄
      </a>
    </li>
    <li>
      <a data-toggle="modal" href="#photo">
        <i class="icon-large icon-camera"></i>
        圖像記錄
      </a>
    </li>
    <li>
      <a data-toggle="modal" href="#addcondition">
        <i class="icon-large icon-table"></i>
        新增症狀
      </a>
    </li>
  </ul>
</div>
