<div class="leftpanel-wrapper">
  <ul class="nav nav-pills nav-stacked">
    <li class="user-container">
      <a href="#">
        <img src="{{ user_protray }}">
      </a>
    </li>
    <li class="active">
      <a href="http://wbpreview.com/previews/WB0LRK4D0/index.html">
        <i class="icon-large icon-home"></i>
        總覽
      </a>
    </li>
    <li>
      <a href="http://wbpreview.com/previews/WB0LRK4D0/sample-layouts.html">
        <i class="icon-large icon-check"></i>
        快速記錄
      </a>
    </li>
    <li>
      <a data-toggle="modal" href="#service">
        <i class="icon-large icon-bar-chart"></i>
        用藥記錄
      </a>
    </li>
    <li>
      <a href="http://wbpreview.com/previews/WB0LRK4D0/form-elements.html">
        <i class="icon-large icon-file"></i>
        檢查記錄
      </a>
    </li>
    <li>
      <a href="http://wbpreview.com/previews/WB0LRK4D0/tables.html">
        <i class="icon-large icon-table"></i>
        新增症狀
      </a>
    </li>
  </ul>
</div>
