{{ username }}
    {{ url_text }}
    {{ login_status }}


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a> 
          <a class="brand bar-root" href="#" data-original-title=""> 永保安康 </a>
          <div class="nav-collapse">
            <ul class="nav pull-left bar-root">
              <li><a href="#">首頁</a></li>
              <li><a href="use.html">如何使用</a></li>
              <li  class="active"><a href="myrecord.html">我的紀錄</a></li>
              <li><a href="more.html">更多統計</a></li>
            </ul>
            <!-- user dropdown -->
            <ul class="nav pull-right bar-root">
              <li class="divider-vertical"></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                   <i class="icon-large icon-user icon-white"></i> 
                   <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-user-account">
                  <li class="account-img-container">
                      <img class="thumb account-img" src="#">
                  </li>
                  <li class="account-info">
                    <h3>王大華</h3>
                    <p>
                    <a href="#">編輯</a> 
                    |
                    <a href="#">隱私設定</a></p>
                  </li>
                  <li class="account-footer">
                    <div class="row-fluid">
                      <div class="span8">
                           <a class="btn btn-primary btn-small" href="#">更換照片</a> 
                           <a class="btn btn-primary btn-small" href="#">檢視檔案</a>
                      </div>
                      <div class="span4 align-right">
                           <a class="btn btn-danger btn-small" href="#">登出</a>
                      </div>
                    </div>                  
                  </li>
                </ul>
              </li>
            </ul>
                <!-- ./ user dropdown -->
            <ul class="nav pull-right bar-root">
              <li class="divider-vertical"></li>
              <li>
                <a href="chat.html" data-original-title="">
                <i class="icon-large icon-comment icon-white"></i>
                <span class="label label-important">6</span></a> 
              </li>
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" data-original-title=""> 
                <i class="icon-large icon-envelope icon-white"></i>
                <span class="label label-important">5 new</span></a> 
                  <ul class="dropdown-menu">
                     <li>
                      <a href="http://wbpreview.com/previews/WB0881879/inbox.html" data-original-title="">
                        <img src="#" alt=""> Subject : Project
                        <p class="help-block">
                          <small>From: ab.alhyane@gmail.com</small>
                        </p>
                          <span class="label">23/09/2012</span>
                      </a>
                     </li>
                     <li class="divider"></li>
                     <li>
                      <a href="#" data-original-title="">
                        <img src="#" alt=""> Subject : Film 
                        <p class="help-block">
                          <small>From: ab.alhyane@gmail.com</small>
                        </p>
                        <span class="label">21/04/2012</span> 
                       </a>
                      </li>
                      <li class="divider"></li>
                      <li>
                      <a href="#" data-original-title="">
                        <img src="#" alt=""> Subject : Film 
                        <p class="help-block">
                          <small>From: ab.alhyane@gmail.com</small>
                        </p>
                        <span class="label">21/04/2012</span> 
                       </a>
                      </li>
                      <li class="divider"></li>
                      <li>
                      <a href="#" data-original-title="">
                        <img src="#" alt=""> Subject : Film 
                        <p class="help-block">
                          <small>From: ab.alhyane@gmail.com</small>
                        </p>
                        <span class="label">21/04/2012</span> 
                       </a>
                      </li>
                      <li class="divider"></li>
                      <li class="active"><a href="#" data-original-title=""> 顯示全部 </a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="http://wbpreview.com/previews/WB0881879/#" data-toggle="dropdown" data-original-title=""> 
                  <i class="icon-large icon-refresh icon-white"></i>
                  <span class="label label-info">3 Updates</span></a> 
                  <ul class="dropdown-menu">
                      <li><a href="#" data-original-title=""> xxx </a></li>
                      <li><a href="#" data-original-title=""> xxx</a></li>
                      <li><a href="#" data-original-title=""> xxx</a></li>
                      <li class="divider"></li>
                      <li class="active"><a href="#" data-original-title=""> 顯示全部 </a></li>
                  </ul>
                </li>
            </ul>
            <form action="#" class="navbar-search pull-right">
            <input type="text" placeholder="搜尋" class="search-query span2">
            </form>
            

          </div> 
        </div> <!-- container -->
      </div> <!-- navbar-inner -->
    </div> <!-- navbar -->